input {
    display: block;
    padding-top: 10px;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-direction: row;

}
.card{
    width:27%;
    height:600px;
    padding-bottom:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9b234;
    border-radius: 5%;
    margin-bottom:20px;
}
.image {
    width:auto;
    height:70%;
    margin: 5px;
}

#del-last {
    background-color: red;
}
.delbutton {
    background-color: rgb(87, 171, 209);
    border-radius: 15%;
    border: none;
    height:25px;
    width : 50px;
}

.flex-wrapper2 {
    display: 2;
    flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.card-sub {
    font-size: 1.5rem;
}